/* ---------------------------------------------------- */
/* Type selectors */
/* ---------------------------------------------------- */

h1 {
  text-align: center;
}

/* ---------------------------------------------------- */
/* Class selectors */
/* ---------------------------------------------------- */

.container {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

.marker {
  width: 200px;
  height: 25px;
  margin: 10px auto;
}

/* INFO: Linear gradient bzw. Radial gradient siehe: */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/gradient */

.red {
  background: linear-gradient(
    rgb(122, 74, 14),
    rgb(245, 62, 113),
    rgb(162, 27, 27)
  );
}

.green {
  background: linear-gradient(#55680d, #71f53e, #116c31);
}

.blue {
  background: linear-gradient(
    hsl(186, 76%, 16%),
    hsl(223, 90%, 60%),
    hsl(240, 56%, 42%)
  );
}

.sleeve {
  width: 110px;
  height: 25px;
  background-color: rgba(255, 255, 255, 50%);
}

.cap {
  width: 60px;
  height: 25px;
}

.sleeve,
.cap {
  display: inline-block;
}

/* 
---------------
Primary Colors:
---------------
black > rgb (0, 0, 0)
whte > rgb (255, 255, 255)

red > rgb(255, 0, 0)
green > rgb(0, 255, 0)
blue > rgb(0, 0, 255)

-----------------
Secondary Colors:
-----------------
yellow > pure red & green > rgb(255, 255, 0)
cyan > pure green & blue > rgb(0, 255, 255)
magenta > pure red & blue > rgb(255, 0, 255)

----------------
Tertiary Colors:
----------------
orange > rgb(255, 127, 0)
spring green > rgb(0, 255, 127)
violet > rgb(127, 0, 255)

chartreuse green > rgb(127, 255, 0)
azure > rgb(0, 127, 255)
rose > rgb(255, 0, 127)
*/
